node_modules/
dist/
!bundles/ux-bundle/assets/dist/
*.tsbuildinfo
.DS_Store

# Symfony demo
demo/var/
demo/vendor/
demo/public/assets/
demo/.env.local
demo/.env.*.local
demo/public/bundles/
demo/assets/build/
pages/dist/

# Composer bundle
bundles/ux-bundle/vendor/
bundles/ux-bundle/composer.lock
.phpunit.cache/
.php-cs-fixer.cache

# Playwright
test-results/
playwright-report/
e2e/output/
# Sulu bundle
bundles/sulu-bundle/vendor/
bundles/sulu-bundle/composer.lock
bundles/sulu-bundle/assets/admin/node_modules/
